.chat-main 
  .chat-main__group-info
    .chat-main__group-info__text
      =@group.name
      .chat-main__group-info__text__member
        Member: 
        - @group.users.each do |group_user|
          = group_user.name
    =link_to edit_group_path(@group) do
      ="Edit"
  .chat-main__message-list
    = render @messages
  .chat-main__group-message-form
    .new_message.form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          =f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hidden' 
        = f.submit 'Send', class: 'form__submit'
    
